<% transactions.each do |transaction| %>
  <article class='transaction_card'>
    <p><%= transaction.name %></p>
    <p>$ <%= transaction.amount %></p>
    <p>Created at: <%= transaction.created_at.strftime ("%d %b %Y") %></p>
  </article>
<% end %>
