<p style="color: green"><%= notice %></p>

<h1>Categories</h1>
<p>Total of transactions: $ <%= @groups_budgets%>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<%= link_to "Add a new Category", new_group_path %>
