<nav>
  <ul class='splash_nav'>
    <li>
      <i class="fa-sharp fa-solid fa-signal"></i>
    </li>
    <li>
      <i class="fa-solid fa-battery-half"></i>
    </li>
  </ul>
</nav>
<div class= "notifications">
  <p style="color: green"><%= notice %></p>
  <p>Developed by Julio Gagliardi</p>
  <div class= "contact_icons">
  <a target= _blank href="https://github.com/BregornOriginal"><i class="fa-brands fa-github"></i></a>
  <a target= _blank href="https://www.linkedin.com/in/julio-gagliardi/"><i class="fa-brands fa-linkedin"></i></a>
  <a target= _blank href="https://angel.co/u/julio-miguel-gagliardi"><i class="fa-brands fa-angellist"></i></a>
  <a target= _blank href="mailto:juliog.1557@gmail.com"><i class="fa-regular fa-envelope"></i></a>
</div>

<div class='splash_title'>
  <h1>Budget tracker</h1>
</div>

<section class= 'session_options'>
  <button class= 'session_button'>
    <%= link_to 'LOG IN', new_user_session_path %>
  </button>
  <button class= 'session_button'>
    <%= link_to 'SIGN UP', new_user_registration_path %>
    </button>
</section>
